$topnav-background-color: #0094cc;
:host {
    .navbar {
        background-color: $topnav-background-color;
        box-shadow: 0 0 20px rgba(51, 51, 51, 0.29);
        -webkit-box-shadow: 0 0 20px rgba(51,51,51,.1);
    -moz-box-shadow: 0 0 20px rgba(51,51,51,.1);
    -ms-box-shadow: 0 0 20px rgba(51,51,51,.1);
    -o-box-shadow: 0 0 20px rgba(51,51,51,.1);
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: white;
            &:hover {
                color: #fff;
            }

            .profile-photo{
                width:30px;
                height:30px;
                object-fit: scale-down;
                margin-right: 10px;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
