<div class="mantener-fichamedica">
  <div class="card mb-3">
      <div class="card-header">
        <span class="panel-title-text" style="font-size:1.6rem">Ficha médica</span>
      </div>
      <div class="card-body table-responsive">
        <app-simple-cliente-data-card [cliente]="clienteActual"></app-simple-cliente-data-card>
        <form class="mantener-fichamedica-form" [formGroup]="mantenerFichaMedicaForm" role="form" (ngSubmit)="mantenerFichaMedica(mantenerFichaMedicaForm.value)">
            <div class="form-content">
              <fieldset>
                <legend>Datos de ficha médica</legend>
                
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="form-group col-12 col-md-4">
                        <input type="text" class="form-control input-underline input-lg" placeholder="Tipo resultado"  formControlName="tipoResultado" >
                    </div>

                    <div class="form-group col-12 col-md-3">
                        <input type="date" class="form-control input-underline input-lg" placeholder="Fecha de evaluación"  formControlName="fechaEvaluacion" >
                    </div> 

                    <div class="form-group col-12 col-md-3">
                      <select formControlName="doctor" class="form-control">
                          <option value="-1" hidden>Doctor a cargo</option>
                          <option [value]="doctor.empleadoId" *ngFor="let doctor of doctores">{{doctor.getNombreCompleto()}}</option>
                      </select>
                    </div> 
                </div>
                
                <div class="d-flex flex-wrap justify-content-between">

                  <div class="form-group col-12 col-md-3">
                    <select formControlName="grupoSanguineo" class="form-control">
                        <option value="-1" hidden>Grupo Sanguineo</option>
                        <option [value]="grupoSanguineo.id" *ngFor="let grupoSanguineo of gruposSanguineo">{{grupoSanguineo.nombre}}</option>
                    </select>
                  </div>

                  <div class="form-group col-12 col-md-4">
                      <input type="text" class="form-control input-underline input-lg" placeholder="Tipo de examen"  formControlName="tipoExamen" >
                  </div>

                  <app-file-input-selector class="col-12 col-md-4" label="Adjunto:" ver-file-label="Ver adjunto" [fileURL]="fichamedicaActual.adjuntoUrl" (onSelectedFile)="archivoSeleccionado($event)"></app-file-input-selector>
                </div>
                

                <div class="form-group">
                    <textarea formControlName="observaciones" placeholder="Observaciones"  class="form-control" rows="3"></textarea>
                </div>
              
              </fieldset>
            </div>
            <button class="btn btn-primary " type="button" [disabled]="mantenerFichaMedicaForm.invalid" (click)="enviarAlMTC(mantenerFichaMedicaForm.value)">Enviar al MTC</button>
            <button class="btn btn-primary btn-submit float-right " [disabled]="mantenerFichaMedicaForm.invalid">Guardar</button>
        </form>
      </div> 
  </div>
</div>